.list-group-item{
	background-color: rgba(143, 153, 171, 1) !important;
	color: white !important;
}

.update {
	font-size: 12px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #337ab7 !important;
}


.nav>li>a {
    padding: 14px 19px !important;
}

