/**css over-ride**/
body{
	background-color: #333 !important;
}

/**add class**/
.font{
	color: white;
}

.jumbotron{
	background-color: #333 !important; 
}

.nav-button{
	color: #999 !important;
	font-size: 16px !important;
    font-weight: bold !important;
}

.title{
	font-size: 20px !important;
}

.blog{
	color: #777;
}


